.marge2 {
	padding-top: 10px;
}

.cadre {
	text-align: center;
	font-size: 25px;
	padding-top: 50px;
	padding-bottom: 150px;
	margin-left: 25%;
	margin-right: 25%;
	height: 50%;
}

.connecter {
	font-family: Snell Roundhand;
	font-size: 40px;
	text-align: center;
}

.style {
	font-family: Optima, sans-serif;
	font-size: 20px;
	text-align: center;
	border-radius: 10px;
}

.appuie {
	font-family: Optima, sans-serif;
	font-size: 20px;
	border-radius: 10px;
}