.centrer {
	text-align: center;
}

.bord {
	width: 100%;
	height: 100px;
	background-color: lightsteelblue;
	border-radius: 50px;
}

.titre {
	text-decoration: none;
}

.titre1 {
	text-align: center;
	font-size: 80px;
	font-family: Snell Roundhand;
}

.saut {
	margin-top: 50px;
	margin-bottom: 50px;
}

#nav{
	list-style-type: none;
	padding: 0; 
	margin-top: 0px;
	overflow: hidden;
	background-color: lightsteelblue;
	text-align: center;
	border-radius: 25px; 
}

#nav li{
	float: left;
	width: 33%;
}

#nav li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: black;
	font-family: 'Cabin', sans-serif;
	font-size: 20px;
}


li a:hover{
	background-color: silver;
}

.marge {
	padding-top: 100px
}

.marge2 {
	padding-top: 15px;
}

.marge3{
	padding-top: 200px;
	padding-bottom: 120px;
	opacity: 0.95;
}

.margeMembre{
	padding-top: 90px;
	padding-bottom: 120px;
	opacity: 0.95;
}

.cadre {
	text-align: center;
	font-size: 25px;
	padding-top: 50px;
	padding-bottom: 150px;
	margin-left: 25%;
	margin-right: 25%;
	height: 50%;
}

.connecter {
	font-family: Snell Roundhand;
	font-size: 40px;
	text-align: center;
}

.style {
	font-family: Optima, sans-serif;
	font-size: 20px;
	text-align: center;
	border-radius: 10px;
}

.appuie {
	font-family: Arial, sans-serif;
	font-size: 15px;
	border-radius: 5px;
}

.texte {
	text-align: center;
	font-size: 40px;
	font-family: Optima, sans-serif;
}